.logos {
	width: 1000px;
	margin: auto;
	padding: 3px 0;
}

.uiowa-logo img{
	margin-top: 5px;
}

.directory {
	margin-top: 7px;
}

.department-links{
	
	float: right;
	margin-top: 2px;
	margin-right: 8px;
	/*width: 540px;*/
	height: 20px;
	overflow: hidden;
	
}